.disney_page {
  min-height: calc(100vh - 70px);
  padding: 0 calc(3.5vw + 5px);
  position: relative;
  overflow: hidden;
}
.disney_page::before {
  content: "";
  background-image: url("../../../public/assets/images/home-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: fixed;
  z-index: -1;
}
